name: fritter
description: An open-source Twitter client

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 2.9.0+20210611

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^5.0.0

  auto_direction: ^0.0.5
  catcher: ^0.6.6
  chewie: ^1.2.1
  dart_twitter_api: ^0.5.0
  device_info: ^2.0.0
  dotted_border: ^2.0.0-nullsafety.0
  extended_image: ^4.0.1
  faker: ^2.0.0-rc.2
  ffcache: ^1.0.0
  flex_color_scheme: ^2.1.1
  file_picker_writable:
    git:
      url: https://github.com/jonjomckay/file_picker_writable.git
      ref: 45b55f13266de97e7f02fb05b49dbccfb492c4cc
  flutter_local_notifications: ^5.0.0+4
  html_unescape: ^2.0.0
  http: ^0.13.1
  infinite_scroll_pagination: ^3.0.1
  intl: ^0.17.0
  multi_select_flutter: ^4.0.0
  package_info: ^2.0.0
  pref: ^2.0.2
  quiver: ^3.0.1
  reactive_forms: ^10.1.0
  share: ^2.0.1
  simple_icons: ^4.22.0
  sqflite: ^2.0.0+3
  sqflite_migration_plan: ^0.1.0
  timeago: ^3.0.2
  uni_links2: ^0.6.0+2
  url_launcher: ^6.0.3
  uuid: ^3.0.4
  video_player: ^2.1.1

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_launcher_icons: ^0.9.0
  flutter_oss_licenses: ^1.0.1

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icon.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
